:root {
    --color-primary: #e74c3c;
    --color-ash: #bdc3c7;
    --color-truce: #FFF;
    --color-abyss: #2c3e50;
    --iconsize: 75px;
    --transition: all 0.3s ease-in-out;
}

::selection{
    background-color: var(--color-primary);
    color: var(--color-truce);
}
html, body {
    background-color: #fff;
    color: var(--color-abyss);
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

h1, h2, h3{
    font-family: 'Bree Serif', serif;
}
h2, h3{
    color: var(--color-abyss);
}
pre{
    background: var(--color-ash);
    color: var(--color-truce);
    display: inline-block;
    padding: 1em;
    white-space: pre-line;
    margin: 0;
}
a{
    color: var(--color-primary);
}

.center-y{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header{
    background: var(--color-primary);
    color: var(--color-truce);
    position: relative;
}
.hero a{
    color: var(--color-truce);
    text-decoration: none;
}

.hero a:after{
    content: '';
    background-color: var(--color-truce);
    display: block;
    width: 0%;
    height: 2px;
    margin: 0 auto;
    transition: var(--transition);
}

.hero a:hover:after{
    width: 50%;
}
.hero{
    background: var(--color-primary);
    color: var(--color-truce);
    position: relative;
    width: 100%;
    height: 30vh;
    text-align: center;
}
.absolute-center{
    position: absolute;
    top: calc(50% - 30px);
    left: 50%;
    transform: translate(-50%,-50%);
}
.title p{
    margin: 0;
}
.icons{
    color: var(--color-ash);
}
main{
    position: relative;
    background-color: var(--color-truce);
    z-index: 1;
    overflow-y: hidden;
}
main.--raised{
    margin: -60px 30px 0px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.icon {
    width: var(--iconsize);
    height: var(--iconsize);
    float: left;
    margin-right: 10px;
}

.icon-2x{
    width: calc(var(--iconsize)*2);
    height: calc(var(--iconsize)*2);
}

.icon-4x{
    width: calc(var(--iconsize)*4);
    height: calc(var(--iconsize)*4);
}